.radio {
    position: relative;
    width: 24px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #CCCCCC;
}
.circle {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #FF5D27;
}
.checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}